.Account {
    max-width: 1100px;
    min-height: 70vh;
    padding: 150px 30px;
    margin:  0 auto;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    border-inline: 1px solid rgb(194, 194, 194);
}

.Account > p {
    padding: 15px 0;
    margin: 10px 0;
    font-size: 22px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.Account > section > div > div {
    font-size: 25px;
    margin: 10px 0;
    display: flex;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
}

.Account > section > div > div > h2 {
    padding: 25px 10px;
}

.Account > section > div > div > p {
    font-weight: 600;
    padding: 25px 5px;
}

.change {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0;
}

.change > h3 {
    color: #396bf6;
    padding: 0 15px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.change > h3:hover {
    filter: drop-shadow(2px 2px 2px #959595);
}

.Account > section > div > div:nth-child(5) {
    justify-content: space-evenly;
}

.Account > section > div > button {
    padding: 10px 15px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: rgb(250, 110, 110);
    color: white;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.Account > section > div > button:hover {
    background-color: red;
}

.popup {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(194, 194, 194, 0.37);
    z-index: 2;
}

.popup > div {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.15);
}

.popup > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.popup > div > div > p:nth-child(1) {
    padding: 5px 8px;
    font-size: 22px;
    margin-bottom: 10px;
    background-color: rgb(250, 110, 110);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup > div > div > p:nth-child(1):hover {
    background-color: red;
}

.popup > div > div > p:nth-child(2) {
    font-size: 18px;
}

.popup > div > div:nth-child(2) {
    display: flex;
    justify-content: center;
}

.popup > div > div > button {
    border: none;
    border-radius: 5px;
    margin-inline: 5px;
    padding: 5px 10px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.popup > div > div > button:nth-child(1) {
    border: 2px solid #396bf6;
    color: #396bf6;
    background-color: white;
    transition: all 0.3s ease;
}

.popup > div > div > button:nth-child(1):hover {
    border: 2px solid rgb(78, 196, 78);
    color: rgb(78, 196, 78);
}

.popup > div > div > button:nth-child(2) {
    background-color: rgb(250, 110, 110);
    color: white;
}

.popup > div > div > button:nth-child(2):hover {
    background-color: red;
}

@media (max-width: 666px) {
    .Account > section > div > div {
        font-size: 18px;
    }
}