.Cart {
    max-width: 1100px;
    min-height: 70vh;
    padding: 150px 30px;
    margin:  0 auto;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    border-inline: 1px solid rgb(194, 194, 194);
}

.Cart > p {
    padding: 15px 0;
    margin: 10px 0;
    font-size: 22px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.Cart > button {
    margin-bottom: 10px;
}

.cart-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cart-view > section {
    width: 100%;
    margin-top: 25px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
}

.cart-view > section > h2 {
    font-size: 28px;
    padding: 10px 20px;
    background-color: rgb(241, 241, 241);
}

.cart-view > section > div {
    height: 350px;
    font-size: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cart-view > section > div > span {
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.cart-view > section > div > span:nth-child(5) {
    border: none;
}

.cart-view > section > div > span > p {
    font-weight: 500;
    padding-left: 10px;
    width: 4ch;
}

.cart-view > section > div button {
    /* height: 30px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #396bf6;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 4;
}

.cart-view > section > div button:hover {
    background-color: rgb(78, 196, 78);
}

.cart-view > section > div > div {
    font-size: 18px;
    padding-block: 5px;
}

.cart-view > section > div > div > p {
    padding-block: 5px;
}

.cart-view > section > div > div > p:nth-child(1) {
    padding-top: 10px;
}

.Cart > button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(250, 110, 110);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.Cart > button:hover {
    background-color: red;
}