.cart-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color: black;
}

.cart-items > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cart-items > div:nth-child(1):hover {
    color: #396bf6;
}

#cart-img {
    width: 75px;
    height: 75px;
    padding: 5px;
}

.cart-items > div > div:nth-child(2) {
    height: auto;
    width: 150px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart-items div:nth-child(3) {
    padding: 5px;
    font-size: 20px;
}

.CartItem > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
}

.CartItem > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.CartItem > div > div > img {
    width: 250px;
    height: 250px;
}

.CartItem > div > div > h2 {
    font-size: 30px;
    font-weight: 500;
    padding-block: 15px;
}

.CartItem > div > div > p {
    padding-top: 10px;
}

.cart-items > button {
    width: 80px;
    height: 25px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(250, 110, 110);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.cart-items > button:hover {
    background-color: red;
}

.cart-items > div:nth-child(2) {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart-items > div > button {
    width: 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.cart-items > div > button:nth-child(1) {
    background-color: rgb(250, 110, 110);
}

.cart-items > div > button:nth-child(1):hover {
    background-color: red;
}

.cart-items > div > button:nth-child(3) {
    background-color: #396bf6;
    /* text-align: center; */
}

.cart-items > div > button:nth-child(3):hover {
    background-color: rgb(78, 196, 78);
}

.the-item {
    position: absolute;
    z-index: 15;
}