.Header {
    width: 100%;
    height: 140px;
    padding: 5px;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(194, 194, 194);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.15);
    z-index: 5;
}

.Header > div {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
    overflow: auto;
}

.nav-one {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.nav-one-group-one {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-one-group-one p {
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-one-group-one p:hover {
    color: #396bf6;
}

.nav-one-group-two {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-one-group-two img {
    width: 23px;
    height: 23px;
    padding-bottom: 1px;
    margin-bottom: 1px;
    cursor: pointer;
}

.nav-one-group-two > div {
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-one-group-two > div:hover {
    color: #396bf6;
}

.nav-two {
    width: 100%;
}

.nav-three {
    width: 100%;
}

.condition {
    width: 150px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(194, 194, 194);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 11px 15px -5px rgba(0,0,0,0.42);
    color: black;
    cursor: initial;
    z-index: 2;
}

.condition > p {
    text-align: center;
}

.nav-one-group-two > div:nth-child(3) > div:nth-child(1) {
    display: flex;
}

.nav-one-group-two > div:nth-child(3) > div:nth-child(1) > p {
    padding-left: 3px;
}


/* Login notice */

.toggled-condition {
    width: 100vw;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    position: fixed;
    top: 75px;
    right: 0;
    z-index: 9;
}

.toggled-condition > div {
    padding: 20px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.15);
    border: 2px solid red;
    color: rgb(250, 110, 110);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
}


/* Hamburger */

.toggler {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
    z-index: 8;
    opacity: 0;
}

.hamburger {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 30px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
}

.hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.hamburger > div:before,
.hamburger > div:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    top: -10px;
    background: inherit;
    z-index: 7;
}

.hamburger > div:after {
    top: 10px;
}

.toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

@media (min-width: 666px) {
    .toggler {
        display: none;
    }
    .hamburger {
        display: none;
    }
    .toggled {
        visibility: hidden;
        display: none;
    }
}

@media (max-width: 666px) {
    .toggled {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row-reverse;
        z-index: 6;
        background: rgba(0, 0, 0, 0);
    }

    .toggled > div {
        width: 55%;
        height: 100%;
        background-color: lightgray;
        position:absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: -15px 0px 15px -5px rgba(0,0,0,0.33);
        z-index: 6;
    }

    .nav-one-group-one {
        flex-direction: column;
        height: 350px;
        font-size: 20px;
    }

    .nav-one-group-two {
        height: 350px;
        flex-direction: column;
        margin-top: -75px;
        font-size: 20px;
    }

    .nav-one-group-two img {
        width: 35px;
        height: 35px;
    }

    .nav-one {
        visibility: hidden;
        justify-content: initial;
    }

    .nav-two {
        position: relative;
        top: -30px;
    }

    .Header > div {
        overflow: visible;
    }
    
    .nav-three {
        position: relative;
    }
}