.Landing {
    max-width: 1100px;
    padding: 150px 30px;
    margin:  0 auto;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    border-inline: 1px solid rgb(194, 194, 194);
}

.Landing > p {
    padding: 15px 0;
    margin: 10px 0;
    font-size: 22px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.products img {
    width: 200px;
    height: 200px;
    padding: 5px;
}

.btn {
    width: 100vw;
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.btn button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: #396bf6;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn button:hover {
    background-color: rgb(78, 196, 78);
}

.products {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
}

.products:hover {
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.15);
}

.product-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.products div:nth-child(2) {
    height: auto;
    width: 220px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.products div:nth-child(3) {
    padding: 5px;
    font-size: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card > div:nth-child(2) {
  position: relative;
  top: -20px;
}

.card > div > button {
  width: 100px;
  height: 30px;
}

.card > div > button:nth-child(1) {
  border: 2px solid #396bf6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #396bf6;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card > div > button:nth-child(1):hover {
  border: 2px solid rgb(78, 196, 78);
  color: rgb(78, 196, 78);
}

.card > div > button:nth-child(2) {
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: #396bf6;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card > div > button:nth-child(2):hover {
  background-color: rgb(78, 196, 78);
}

#login-add {
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(241, 241, 241, 0.322);
  z-index: 2;
}

#login-add > div {
  padding: 20px 20px 30px 20px;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.15);
}

#login-add > div > div {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

#login-add > div > div > p:nth-child(1) {
  padding-right: 10px;
  color: #396bf6;
  cursor: pointer;
  transition: all 0.3s ease;
}

#login-add > div > div > p:nth-child(1):hover {
  filter: drop-shadow(2px 2px 2px #959595);
}

#login-add > div > div > span {
  padding: 5px 8px;
  background-color: rgb(245, 148, 148);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#login-add > div > div > span:hover {
  background-color: rgb(245, 120, 120);
}

#login-save {
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(241, 241, 241, 0.322);
  z-index: 2;
}

#login-save > div {
  padding: 20px 20px 30px 20px;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.15);
}

#login-save > div > div {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

#login-save > div > div > p:nth-child(1) {
  padding-right: 10px;
  color: #396bf6;
  cursor: pointer;
  transition: all 0.3s ease;
}

#login-save > div > div > p:nth-child(1):hover {
  filter: drop-shadow(2px 2px 2px #959595);
}

#login-save > div > div > span {
  padding: 5px 8px;
  background-color: rgb(245, 148, 148);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#login-save > div > div > span:hover {
  background-color: rgb(245, 120, 120);
}


/* Item Added */
.added {
  width: 100vw;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 155px;
  left: 0;
  z-index: 2;
}

.added > div {
  padding: 20px 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.15);
  border: 2px solid rgb(78, 196, 78);
  color: rgb(78, 196, 78);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Loading Error */
.error {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid red;
  background-color: rgb(245, 181, 181);
}

.error div {
  width: 25px;
  position: relative;
  top: 0;
  right: 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 148, 148);
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.error div:hover {
  background-color: rgb(245, 120, 120);
}

.error h1 {
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.error h2 {
  padding-block: 10px;
}

.error p {
  padding-block: 5px;
}

.lds-ring {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(36, 36, 36) transparent transparent transparent;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }