.Landing {
    max-width: 1100px;
    padding: 150px 30px;
    margin:  0 auto;
    overflow: auto;
    background-color: rgb(43, 226, 67);
}

.products img {
    width: 100px;
    height: 100px;
}

.Landing button {
    cursor: pointer;
}