.Login {
    max-width: 1100px;
    padding: 150px 30px;
    margin:  0 auto;
    overflow: auto;
    background-color: white;
}


.form > span {
  font-size: 30px;
}

.form p {
  text-align: center;
  color: red;
  margin-bottom: -15px;
}

.form {
  width: 75%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(194, 194, 194);
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 20px;
  background-color: rgb(241, 241, 241);
  transition: box-shadow 0.4s ease;
}

.form:hover {
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.15);
}

.form > form {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form > form > input {
  width: 60%;
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid rgb(194, 194, 194);
}

.form > form > button {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #396bf6;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form > form > button:hover {
  background-color: rgb(78, 196, 78);
}

.form > form > span {
  color: #396bf6;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form > form > span:hover {
  filter: drop-shadow(2px 2px 2px #959595);
}



/* Loading */
.loading {
  width: 100vw;
  height: 100vh;
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(241, 241, 241, 0.322);
  z-index: 2;
}

.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(36, 36, 36) transparent transparent transparent;
  }

  .loading div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .loading div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .loading div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }