.Men {
    max-width: 1100px;
    padding: 150px 30px;
    margin:  0 auto;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    border-inline: 1px solid rgb(194, 194, 194);
}

.Men > p {
    padding: 15px 0;
    margin: 10px 0;
    font-size: 22px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.map-mens img {
    width: 200px;
    height: 200px;
}

.map-mens {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
}

.map-mens:hover {
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.15);
}

.map-mens div:nth-child(2) {
    height: auto;
    width: 220px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.map-mens div:nth-child(3) {
    padding: 5px;
    font-size: 20px;
}

.men-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.men-card > div:nth-child(2) {
    position: relative;
    top: -20px;
}
  
.men-card > div > button {
    width: 100px;
    height: 30px;
}
  
.men-card > div > button:nth-child(1) {
    border: 2px solid #396bf6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #396bf6;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.men-card > div > button:nth-child(1):hover {
    border: 2px solid rgb(78, 196, 78);
    color: rgb(78, 196, 78);
}
  
.men-card > div > button:nth-child(2) {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    background-color: #396bf6;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.men-card > div > button:nth-child(2):hover {
    background-color: rgb(78, 196, 78);
}