.NavOne {
    height: 20px;
    display: flex;
    /* justify-content: space-evenly; */
}

.auth {
    padding: 1px 10px 3px 10px;
    font-size: 13px;
    color: white;
    background-color: #396bf6;
    border-radius: 45px;
    transition: background-color 0.3s ease;
}

.auth:hover {
    background-color: rgb(78, 196, 78);
}

.conditional {
    text-align: center;
    padding-inline: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.closed, .open {
    width: 115px;
    height: 150px;
    text-align: center;
    padding-inline: 5px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(194, 194, 194);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 11px 15px -5px rgba(0,0,0,0.42);
    position: absolute;
    transition: all 0.3s ease;
    cursor: initial;
    z-index: 2;
}

.closed {
    opacity: 0;
    visibility: hidden;
}

.open {
    opacity: 1;
    visibility: visible;
}

.open p {
    color: #396bf6;
    cursor: pointer;
    transition: all 0.3s ease;
}

.open p:hover {
    filter: drop-shadow(2px 2px 2px #959595);
}

#email {
    width: 100%;
    overflow-wrap: break-word;
    font-size: 13px;
}

.user-logged-out {
    width: 100vw;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 155px;
    left: 0;
    z-index: 2;
}

.user-logged-out > div {
    padding: 20px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.15);
    border: 2px solid rgb(78, 196, 78);
    color: rgb(78, 196, 78);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}