.NavOne {
    height: 15px;
    display: flex;
    /* justify-content: space-evenly; */
}

.conditional {
    text-align: center;
    padding-inline: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.closed {
    width: 0px;
    opacity: 0;
    visibility: hidden;
}

.open {
    text-align: center;
    width: 115px;
    height: 150px;
    opacity: 1;
    visibility: visible;
    padding-inline: 5px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 11px 15px -6px rgba(0,0,0,0.42);
    cursor: initial;
    transition: opacity 0.3s ease;
}

.open p {
    color: #0000EE;
    cursor: pointer;
    transition: all 0.3s ease;
    /* margin: 1px 0 2px 0;
    padding: 3px 2px; */
}
.open p:hover {
    /* padding: 2px 1px;
    border-bottom: 1px solid #0000EE; */
    filter: drop-shadow(2px 2px 2px #959595);
}

#email {
    width: 100%;
    overflow-wrap: break-word;
    font-size: 13px;
}
