.NavTwo {
    /* height: 15px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavTwo > div {
    display: flex;
    padding-right: 15px;
    transform: rotate3d(1, 1, 1, -10deg);
}

.NavTwo > div p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding: 5px;
    text-shadow: 1px 1px 4px #000000;
}

.NavTwo div span:nth-child(1) {
    color: rgb(230, 92, 92);
}
.NavTwo div span:nth-child(2) {
    color: #396bf6;
}
.NavTwo div span:nth-child(3) {
    color: rgb(209, 209, 70);
}
.NavTwo div span:nth-child(4) {
    color: rgb(78, 196, 78);
}

.NavTwo section {
    width: 100vw;
}
