.ProductView {
    max-width: 1100px;
    min-height: 70vh;
    padding: 180px 30px;
    margin:  0 auto;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    border-inline: 1px solid rgb(194, 194, 194);
}

.ProductView img {
    width: 50%;
    height: 500px;
    padding: 10px 20px;
    border-right: 1px solid rgb(194, 194, 194);
}

.item {
    display: flex;
    justify-content: space-evenly;
}

.item > div {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title > h2 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding-block: 20px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.title > p {
    font-size: 20px;
    text-align: center;
    padding: 20px 10px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.item > div > div:nth-child(2) {
    font-size: 30px;
    text-align: center;
    padding-block: 20px;
}

.item > div > div:nth-child(3) {
    text-align: center;
    padding-block: 20px;
}

.buttons > button:nth-child(1) {
    border: 2px solid #396bf6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #396bf6;
    background-color: white;
    transition: all 0.3s ease;
}

.buttons > button:nth-child(1):hover {
    border: 2px solid rgb(78, 196, 78);
    color: rgb(78, 196, 78);
}

.buttons > button:nth-child(2) {
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: #396bf6;
  transition: all 0.3s ease;
}

.buttons > button:nth-child(2):hover {
  background-color: rgb(78, 196, 78);
}

.buttons > button {
    /* padding: 10px 25px; */
    width: 150px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.log-in {
    margin-top: 20px;
    padding-block: 10px;
    background-color: rgb(245, 181, 181);
    border: 1px solid red;
    border-radius: 5px;
}

.log-in span {
    display: flex;
    justify-content: center;
}

.log-in span p {
    padding-inline: 6px;
    color: #396bf6;
    cursor: pointer;
    transition: all 0.3s ease;
}

.log-in span p:hover {
  filter: drop-shadow(2px 2px 2px #959595);
}

@media (max-width: 788px) {
  .item {
    flex-direction: column;
    align-items: center;
  }

  .item > div {
    width: 100%;
  }

  .ProductView {
    overflow-x: hidden;
  }

  .ProductView img {
    width: 200px;
    height: 200px;
    border: none;
    border-bottom: 1px solid rgb(194, 194, 194);
  }
}

/* Loading Animation */
.load-ring {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .load-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(36, 36, 36) transparent transparent transparent;
  }

  .load-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .load-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .load-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes load-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }