.SavedItems {
    max-width: 1100px;
    min-height: 70vh;
    padding: 150px 30px;
    margin:  0 auto;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    border-inline: 1px solid rgb(194, 194, 194);
}

.SavedItems > p {
    padding: 15px 0;
    margin: 10px 0;
    font-size: 22px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.SavedItems > h2 {
    font-size: 18px;
    padding-bottom: 15px;
    margin-top: 15px;
}

.saved-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.SavedItems > button {
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(250, 110, 110);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.SavedItems > button:hover {
    background-color: red;
}