.SavedItems {
    max-width: 1100px;
    min-height: 100vh;
    padding: 150px 30px;
    margin:  0 auto;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    border-inline: 1px solid rgb(194, 194, 194);
}

.SavedItems > p {
    padding: 15px 0;
    margin: 10px 0;
    font-size: 22px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.saved-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}