.StoreSearch form {
  height: 100%;
  display: flex;
}

.StoreSearch input {
  width: 100%;
  position: relative;
  padding-left: 10px;
}

/* .text-field {
  width: 100%;
  position: relative;
} */

.StoreSearch select {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.StoreSearch button {
  min-width: 85px;
  height: 40px;
  padding: 10px 15px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  color: white;
  background-color: #396bf6;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.StoreSearch button:hover {
  background-color: rgb(78, 196, 78);
}

.results {
  max-width: 865px;
  height: 50vh;
  padding: 30px 30px;
  margin:  0 auto;
  overflow: auto;
  border-inline: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
  position: absolute;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 13px 3px rgba(0, 0, 0, 0.15);
}

.results > div {
  padding: 15px;
  font-size: 25px;
  margin-top: 5%;
}

.item-search {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
  margin: 10px 0;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
}

.item-search:hover {
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.15);
}

.item-search > img {
  width: 200px;
  height: 200px;
  padding: 5px;
}

.item-search > p {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
}

.item-search > div {
  /* padding: 5px; */
  font-size: 20px;
}


/* Loading */

.load-search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.load-search div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  /* margin: 8px; */
  border: 4px solid #fff;
  border-radius: 50%;
  animation: load-search 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.load-search div:nth-child(1) {
  animation-delay: -0.45s;
}

.load-search div:nth-child(2) {
  animation-delay: -0.3s;
}

.load-search div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes load-search {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 666px) {
  .StoreSearch button {
    height: 30px;
  }

  /* .text-field {
    height: 30px;
  } */

  .results {
    width: 45%;
    z-index: 5;
  }

  .load-search div {
    width: 18px;
    height: 18px;
      margin: -4px;
  }

  .item-search > img {
    width: 150px;
    height: 150px;
  }

  .item-search > p {
    font-size: 30px;
  }
}